.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);;
}

.search-form{
  min-height: 10vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.search-bar{
  width: 60%;
  border: none;
  padding: 10px;
}

.search-button{
  min-height: 4vh;
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.userrecipe-button{
  width: 60%;
  min-height: 3vh;
  background: cyan;
  border: none;
  /* display: flex; */
  color: white;
  align-items: center;
  justify-content: center;
}

.button-heading{
  text-align: center;
}
/* .app-heading{
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 20vh;
} */